<source>
  @type tail
  format nginx
  path {{ nginx_access_log }}
  pos_file {{ nginx_access_log_pos_file }}
  tag nginx.access
</source>
<match nginx.access>
  @type forward
  retry_limit 5
  flush_interval 60s
  <server>
    host 192.168.33.11
    port 24224
  </server>
</match>
