{{ unicorn_log_dir }}/*.log {
  daily
  rotate 7
  dateext
  missingok
  notifempty
  compress
  delaycompress
  copytruncate
  create 0664 {{ unicorn_log_owner }} {{ unicorn_log_group }}
  su {{ unicorn_log_owner }} {{ unicorn_log_group }}

  lastaction
    pid={{ unicorn_pid }}
    test -s $pid && kill -USR1 "$(cat $pid)"
  endscript
}
